@keyframes myChange {
  from {
    height: 100px;
    opacity: 1
  } to {
    height: 0;
    opacity: 0;
    }
}

#searchRow {
  width: 100%;
  background: $backGreen;
  height: 70px;

  #searchContent {
    width: 900px;
    margin: auto;
    #dataQuery {
      width: 600px;
      margin: 20px 30px;
      line-height: 32px;
      border: 1px solid $backGreen;
      border-radius: 5px;
      padding: 0 20px;
      &:focus {
        outline:none;
      }
    }
    #searchSubmit {
      display: inline-block;
      line-height: 32px;
      color: #fff;
      font-size: 1.3em;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 0 10px;
      &:hover {
        box-shadow: 1px 1px 1px rgba(00,60,54,.29), inset 0px 0px 2px rgba(0,0,0, .5); 
      }
    }
  }
}

.dataContent {
  width: 1000px;
  margin: 10px auto;
  overflow: hidden;

}
.topicMenu {
  width: 280px;
  margin: 0 20px 0 0;
  color: $treeFontGreen;
  float: left;
  ul.mtree{
    background:#EEE;
    margin:20px auto;
    max-width:320px;
    border-radius:3px;
    padding:1.2em;
    ul{
      margin-left:1em;
    }
    li{
      list-style:none;
    }
    a{
      @extend %mtree-trasition;
      display:block;
      font-family: "Microsoft YaHei" ! important;
    }
  }

  %mtree-trasition{
    -webkit-transition:all 300ms ease-out;
    -moz-transition:all 300ms ease-out;
    -ms-transition:all 300ms ease-out;
    -o-transition:all 300ms ease-out;
    transition:all 300ms ease-out;

  }
  ul.mtree.bubba{
    ul{margin-left:0;  }
    ul li{ font-size:0.9em;}
    li.mtree-node>a:after{
      //parent-node
      content:'>'; margin-left:0.5em;font-weight:normal;
    }
    li.mtree-node>a{font-weight:bold; text-transform:upperCase;}
    >li{border-bottom:1px solid #DDD}
    >li:last-child{ border-bottom:none;}
    li:last-child>a{border:none;}
    >li.mtree-open>a{background:#DDD};
    li>a:hover{ background:#DDD;}

    li.mtree-node>a{background:#DDD; font: 1.2em bold; line-height: 1.5em};
    li.mtree-active>a{background:#66BAB7; color:#FFF; z-index:2; font: 1.2em bold;line-height: 1.5em};
    $indent:1em;
    a{ padding:7px 0px 1px $indent;}
    li li >a{ padding-left:$indent*2;}
    li li li>a{padding-left:$indent*3;}
    li li li li>a{ padding-left:$indent*4;}
    li li li li li>a{ padding-left:$indent*5;}
    li ul {
      transition: all linear 0.5s;
    }
    li ul.ng-hide {
      animation: 0.5s myChange;

    }
    li ul a.selected::after {
      content: url(../img/iconfont-checked.png);
      padding: 0 20px;
    }
  }
}

.serviceList {
  width: 700px;
  margin: 20px 0 20px 300px;

  .serviceItem {
    width: 650px;
    margin: 0 auto 20px auto;
    border: 1px solid $backGray;

    .serviceTitle {
      width: 100%;
      background: $backGray;
      position: relative;
      padding: 0.5em 2em;
      line-height: 2em;
      box-sizing: border-box;
      h3 {
        font-size: 1.2em;
      }
      span {
        position: absolute;
        top: 0.5em;
        right: 10px;
        color: $backGreen;
        font-weight: bold;
      }
    }
    .serviceContent {
      width: 100%;
      padding: 0.5em 2em 3em 2em;
      position: relative;
      box-sizing: border-box;
      p {
        line-height: 2em;
        .tableName {
          font-weight: bold;
          padding-right: 5px;
        }
      }
      .mark {
        position: absolute;
        right: 10px;
        bottom: 10px;
        span {
          color: $treeFontGreen;
          font-size: 1.2em;
          padding-right: 20px;
        }
        .star {
          display: inline-block;
          width: 75px;
          height: 15px;
          margin: 1px 0 0 0;
          overflow: hidden;
        }
        .level10 {
          background: url(../img/starsm.png) 0 0 no-repeat;
        }
        .level9 {
          background: url(../img/starsm.png) 0 -15px no-repeat;
        }
        .level8 {
          background: url(../img/starsm.png) 0 -30px no-repeat;
        }
        .level7 {
          background: url(../img/starsm.png) 0 -45px no-repeat;
        }
        .level6 {
          background: url(../img/starsm.png) 0 -60px no-repeat;
        }
        .level5 {
          background: url(../img/starsm.png) 0 -75px no-repeat;
        }
        .level4 {
          background: url(../img/starsm.png) 0 -90px no-repeat;
        }
        .level3 {
          background: url(../img/starsm.png) 0 -105px no-repeat;
        }
        .level2 {
          background: url(../img/starsm.png) 0 -120px no-repeat;
        }
        .level1 {
          background: url(../img/starsm.png) 0 -135px no-repeat;
        }
        .level0 {
          background: url(../img/starsm.png) 0 -150px no-repeat;
        }
      }
    }

  }
  .page-list {
    width: 100%;
    text-align: center;
    .pagination {
      //display: flex;
      //flex-direction: row;
      //justify-content: space-around;
      display: inline-block;
      padding-left: 0;
      margin: 20px auto;
      border-radius: 4px;

      li {
        //flex: 1 1 auto;
        display: inline;


      }
      span {
        font-size: 1.4em;
        cursor: pointer;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 2em;
        color: $treeFontGreen;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
        &:hover {
          background-color: #ddd;
        }
      }
      .active span {
        color: #fff;
        cursor: default;
        background-color: $treeFontGreen;
        border-color: $treeFontGreen;
      }
      .disabled span{
        cursor: not-allowed;
        background-color: #fff;
      }

    }
  }
}
